<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                {{!-- card code here --}}
                <div class="card" style="width: 15rem; height:25rem">
                    <img class="card-img-top" style="width: 200px;height: 200px" src="/product-images/{{this._id}}.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <h6>{{this.Category}}</h6>
                        <p class="card-text">{{this.Description}}</p>
                        <h6>₹{{this.Price}}</h6>
                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
                        <button onClick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script>
    
</script>